/* 引入字体文件 */
@font-face {
    font-family: tesila;
    src: url(../Fonts/下载.woff);
}
@font-face {
    font-family: tesila1;
    src: url(../Fonts/tesila1.woff);
}
@font-face {
    font-family: tesila2;
    src: url(../Fonts/tesila2.woff);
}
@font-face {
    font-family: tesila3;
    src: url(../Fonts/tesila3.woff);
}
@font-face {
    font-family: 'iconfont';
    src: url('../font_bw68jr5sugh/iconfont.eot');
    src: url('../font_bw68jr5sugh/iconfont.eot?#iefix') format('embedded-opentype'),
        url('../font_bw68jr5sugh/iconfont.woff2') format('woff2'),
        url('../font_bw68jr5sugh/iconfont.woff') format('woff'),
        url('../font_bw68jr5sugh/iconfont.ttf') format('truetype'),
        url('../font_bw68jr5sugh/iconfont.svg#iconfont') format('svg');
}

@font-face {
    font-family: 'webfont';
    font-display: swap;
    src: url('../Fonts/webfont/webfont.eot'); /* IE9 */
    src: url('../Fonts/webfont/webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../Fonts/webfont/webfont.woff2') format('woff2'),
    url('../Fonts/webfont/webfont.woff') format('woff'), /* chrome、firefox */
    url('../Fonts/webfont/webfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('../Fonts/webfont/webfont.svg#webfont') format('svg'); /* iOS 4.1- */
}

.web-font {
    font-family: "webfont" !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
 }
 
/*头部*/
.header {
    display: flex;
    /* min-width: 1000px; */
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 996;
}
.headertop {
    width: 80%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}
.logo {
    position: absolute;
    float: left;
    padding-top: 16px;
    width: 100px;
    height: 52px;
    box-sizing: border-box;
    display:flex;
}
.logo img {
    width: 100%;
    height: 24px;
}
.logo a {
    position: absolute;
    width: 100%;
    height: 24px;
}

/* ナビ 返回 */
.backhome {
    display: flex;
    opacity: 1;
    float: right;
    position: absolute;
    top: 4px;
    right: 0;
    width: 220px;
    height: 52px;
    text-align:center;
    align-items: center;
    justify-content: center;
}
.backhome>div {
    float: left;
    font-size: 14px;
}
.backright {
    display:none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20%;
    z-index: 999;
    margin-left: 10px;
}
.backhome a {
    color: #fff;
    margin: 0 5px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.backhome img {
    width: 100%;
    height: 100%;
}

/*最底部，备案等文字*/
.fp-auto-height a {
    color: #393C41;
}

.fp-auto-height div {
    position: relative;
    width: 100%;
    height: 70px;
}

.fp-auto-height .brief{
    height: 50px;
}

.fp-auto-height .permit{
    top: 10px;
    height: 150px;
    font-size: 12px;
    color: #393C41;
    text-align: left;
    /* display: flex;
    flex-direction: column; */
    align-items: flex-start;
    left: 25%;
    width: 75%;
}

.permit-title{
    color: #222222;
    font-size: 15px;
    height: 25px;
    width: 100%;
}

.fp-auto-height .permit p{
    height:18px; 
    width: 100%;
    /* display: flex;
    flex-direction: row; */
}

.h-left{
    margin-left: 0px;
}

.h-right{
    margin-left: 50px;
}

.fp-auto-height .link {
    position: absolute;
    left: 50%;
    top: 50%;
    /* transform: translate(-50%, -50%); */
}
.fp-auto-height .link li {
    float: left;
    font-size: 12px;
    color: #393C41;
    padding: 0 10px;
}

.fp-auto-height .link li a {
    color: #393C41;
}

.fp-controlArrow.fp-prev {
    border-width: 23px 23px 19px 0;
}

.fp-controlArrow.fp-next {
    border-width: 23px 0 23px 19px;
}
