/* 禁止复制，a标签就不会选中出现蓝色背景 */
html {
    -webkit-user-select: none;
    -moz-user-select: none;
    /* font-family: "webfont_jp" !important; */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    outline: none;
}

/* 左侧进度条 */
#myMenu {
    position: absolute;
    top: 30%;
    left: 30px;
    z-index: 999;
}

#myMenu li a {
    display: block;
    width: 1px;
    height: 23px;
    background-color: #474A4F;
    line-height: 23px;
    margin: 10px 0;
}

#myMenu .active a {
    width: 3px;
    background-color: #fff;
    transform: translateX(-1px);
}

#myMenu .active a span {
    animation: rise 3s ease-in-out;
}

#myMenu li a span {
    display: block;
    opacity: 0;
    position: absolute;
    left: 10px;
    width: 110px;
    font-size: 12px;
    color: #fff;
    font-family: tesila1;
}

a {
    outline: none;
}

/* 视频宽高 */
video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.headstock {
    display: flex;
    flex: 1;
    opacity: 1;
    overflow: hidden;
    height: 52px;
    transform: translateY(0);
    transition: .5s ease-in-out;
    justify-content: center;
}

.headstock ul {
    display: flex;
    width: 610px;
    height: 52px;
    justify-content: center;
    align-items: center;
}

.headstock li {
    margin: 0 10px;
    text-align: center;
}

.headstock li a {
    font-size: 14px;
    color: #ffffff;
}

.store {
    display: flex;
    opacity: 1;
    transform: translateY(0);
    float: right;
    position: relative;
    width: 170px;
    height: 52px;
    text-align: center;
    align-items: center;
    transition: .5s ease-in-out;
}

.store>div {
    float: left;
    font-size: 14px;
}

.store a {
    color: #fff;
    margin: 0 5px;
}

.headstock-appear {
    opacity: 0;
    transform: translateY(-65%);
}

.Return-top {
    opacity: 0;
    position: absolute;
    top: 22%;
    right: 0;
    width: 20px;
    height: 24px;
    transform: rotate(180deg);
    filter: invert(100%);
    transition: .5s;
}

.Return-top img {
    width: 100%;
    height: 100%;
}

.Return-top-appear {
    opacity: 1;
    right: 4%;
}

/* 单元格 */
.line {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20%;
    z-index: 999;
    margin-left: 10px;
}

.line div {
    width: 18px;
    height: 2px;
    background-color: #fff;
}

.line .mid-line {
    margin: 3px 0;
}

.line.active div {
    transition: 0.3s ease-in-out 0.2s;
}

/* 第一条线旋转45度 */
.line.active .top-line {
    background-color: #393C41;
    transform: rotate(45deg) translate(2px, 5px);
}

/* 第三条线旋转-45度 */
.line.active .und-line {
    background-color: #393C41;
    transform: rotate(-45deg) translate(2px, -5px);
}

/* 中间线向右移动并变为透明 */
.line.active .mid-line {
    opacity: 0;
    transform: translateX(10px);
    transition: 0.3s ease-in-out;
}

/* 点击返回 */
/* 第一条线旋转45度 */
.line.back .top-line {
    background-color: #fff;
    transform: rotate(0) translate(0, 0);
}

/* 第三条线旋转-45度 */
.line.back .und-line {
    background-color: #fff;
    transform: rotate(0) translate(0, 0);
}

/* 中间线向右移动并变为透明 */
.line.back .mid-line {
    opacity: 1;
    transform: translateX(0);
    transition: 0.3s ease-in-out;
}

/* 第一屏 */
.section-one .crosswise {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* 第一屏为横向滑动，li设置为当前屏幕长度的2倍，ul将超出的部分隐藏 */
.lirun {
    position: absolute;
    top: 18%;
    left: 0;
    width: 100%;
    height: 50%;
    background: url(../images/img/main1.jpg) no-repeat center center;
    background-size: cover;
}

.fate {
    width: 200%;
    height: 150%;
    top: -35%;
    left: -50%;
    transition: 1s ease-in-out;
}

.fate1 {
    width: 200%;
    height: 150%;
    top: -35%;
    left: -50%;
}

/* 右侧ナビ栏 */
.right-border {
    position: absolute;
    z-index: 998;
    top: 0;
    right: 0;
    width: 23%;
    height: 100%;
    padding: 50px 20px 20px;
    background-color: #fff;
    box-sizing: border-box;
    transform: translateX(100%);
}

.right-border li {
    padding: 18px 10px;
    border-bottom: 1px solid #D0D1D2;
    transform: translateX(200px);
    opacity: 0;
}

.right-border li a {
    font-size: 14px;
    font-family: tesila1;
    color: #000;
}

.right-border.open {
    transform: translateX(0);
    transition: 0.3s ease-in-out 0.3s;
}

.right-border.close {
    transform: translateX(100%);
    transition: 0.3s ease-in-out 0.3s;
}

/* 遮盖层 */
.overspread {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .6);
    opacity: 0;
    z-index: 0;
    transition: 0.8s ease-in-out;
}

/* 分页符 */
.page-break {
    position: absolute;
    width: 54px;
    height: 15px;
    left: 50%;
    bottom: 18%;
    list-style: none;
    transform: translateX(-50%);
    z-index: 996;
}

.page-break li {
    float: left;
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    border-radius: 4px;
    background-color: transparent;
    border: 1px solid transparent;
    /* 如果有别的盒子设置Z-index并覆盖在其上，那么cursor则没有效果 */
    cursor: pointer;
}

.page-break li span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: transparent;
    border: 2px solid #A0A1A4;
}

.page-break li span.present {
    background-color: #fff;
    border: 2px solid #fff;
}

.page-break li .status {
    background-color: #fff;
    border: 2px solid #000;
}

.page-break li:nth-child(2) {
    left: 20px;
}

.page-break li:nth-child(3) {
    left: 40px;
}

.tuihuo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 15%;
    z-index: 996;
    font-size: 12px;
    font-family: tesila2;
    color: #fff;
}

.appear {
    opacity: 1;
    transition: .5s ease-in;
}

.disappear {
    opacity: 0;
}

.BEACON {
    position: absolute;
    opacity: 0;
    text-align: center;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    z-index: 2;
    width: 50%;
    height: 50%;
}

.BEACON-one {
    height: 30%;
    top: 37%;
}

.fo {
    opacity: 1;
    transform: translate(-50%, -70%);
    transition: 1.5s ease-in-out;
}

.BEACON h1 {
    font-family: tesila2;
    font-weight: 400;
    font-size: 40px;
    color: #fff;
    margin: 20px 0;
}

.BEACON div a {
    position: relative;
    display: inline-block;
    width: 250px;
    height: 40px;
    font-size: 12px;
    font-family: tesila3;
    border-radius: 20px;
    line-height: 40px;
    box-sizing: border-box;
    margin: 8px;
    outline: none;
    overflow: hidden;
}

.BEACON div a:nth-child(1) {
    color: #393C41;
    background-color: #fff;
}

.BEACON div a:nth-child(n + 2) {
    line-height: 36px;
    border: 3px solid #fff;
    color: #fff;
    transition: .5s ease-in-out;
    background-color: transparent;
}

.BEACON div a:nth-child(n + 2):hover {
    color: #000;
    background-color: #fff;
}

.BEACON-one>a {
    display: inline-block;
    padding-bottom: 3px;
    font-size: 12px;
    color: #fff;
    border-bottom: 2px solid #fff;
}

.BEACON-one>a:hover {
    border-bottom: 3px solid #fff;
}

.BEACON-one h1 {
    position: relative;
    width: 180px;
    height: 48px;
    line-height: 48px;
    margin: 20px auto;
    overflow: hidden;
}

.BEACON-one h1 ul {
    position: absolute;
    top: 0;
    left: -180px;
    width: 300%;
    height: 48px;
}

.BEACON-one h1 ul li {
    float: left;
    width: 180px;
    height: 48px;
}

/* 第二屏 */
.section-two {
    width: 100%;
    height: 100%;
    background: url(../images/img/it.jpg) no-repeat center center;
    background-size: cover;
}

.BEACON-two {
    width: 70%;
}

.BEACON-two h1,
.BEACON-four h1,
.BEACON-fifth h1 {
    margin: 0 0 10px;
}

/* 第三屏 */
.section-three {
    width: 100%;
    height: 100%;
    background: url(../images/img/studying.jpg) no-repeat center center;
    background-size: cover;
}

.BEACON-three h1 {
    margin: 0;
}

.BEACON-three h4 {
    margin: 0 0 10px;
    color: #fff;
    font-size: 17px;
    font-family: tesila2;
    font-weight: 400;
}

/* 第四屏 */
.section-four {
    background: url(../images/img/ad.jpg) no-repeat center center;
    background-size: cover;
}

/* 第五屏 */
.section-fifth {
    background: url(../images/img/hotel.jpg) no-repeat center top;
    background-size: cover;
}

.res_title{
    position: absolute;
    top: 7%;
    width: 100%;
    height: 48px;
    z-index: 2;
    text-align: center;
    color: #D3AF37;
    font-size: 20px;
}

