/* 禁止复制，a标签就不会选中出现蓝色背景 */
html {
    -webkit-user-select: none;
    -moz-user-select: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    outline: none;
}

h1 {
    font-size: 3.2em;
    /* font-family: arial, helvetica; */
    color: #fff;
    margin: 0;
    padding: 0;
    top: 42%;
    left: 0px;
    text-align: center;
    position: relative;
}


.section {
    text-align: center;
    background-size: cover;
    background-attachment: fixed;
}

.sectionIT {
    text-align: center;
    background-size: cover;
    background-attachment: fixed;
}

.slide {
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding: 0 0 0 0;
    background-position-x: center;
    background-position-y: center;
}

#IT-one .slide-IT1 {
    background-position-x: center;
    background-position-y: 10%;
}


.itboard {
    position: absolute;
    width: 310px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    line-height: 33px;
    left: 80px;
    top: 40%;
    z-index: 2;
    background-color: transparent;
    border-radius: 20px;
}

.boardbg {
    background-color: rgb(77, 74, 74);
    opacity: 0.4;
}

.itboard h4 {
    margin: 0px 20px 20px 20px;
    color: #fff;
    font-size: 15px;
    font-family: tesila2;
    font-weight: 400;
    text-align: left;
}

.title{
    font-size: 30px;
    color: #fff;
    margin: 20px 20px 20px 20px;
}

.it-center{
    width: 100%;
    display: flex;
    justify-content: center;
}
