/* 禁止复制，a标签就不会选中出现蓝色背景 */
html {
    -webkit-user-select: none;
    -moz-user-select: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    outline: none;
}

h1 {
    font-size: 3.2em;
    /* font-family: arial, helvetica; */
    color: #fff;
    margin: 0;
    padding: 0;
    top: 42%;
    left: 0px;
    text-align: center;
    position: relative;
}

.one {
    word-wrap: break-word;
    /*英文的时候需要加上这句，自动换行*/
    width: 20px;
    height: 100px;
    margin: 0 auto;
    line-height: 24px;
    font-size: 20px;
    position: relative;
}


.sectionMedic{
    text-align: center;
    background-size: cover;
    background-attachment: fixed;
}

.slide {
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding: 0 0 0 0;
    background-position-x: center;
    background-position-y: center;
}

#medic-one .slide-ad1 {
    background-position-x: center;
    background-position-y: 10%;
}

#medic-one h1 {
    top: 72%;
    left: 0px;
}

#medic-two .slide {
    background-color: rgb(5, 0, 0);
    background-size: contain;
}

#medic-two h1 {
    top: 72%;
    left: 0px;
}

#medic-three .slide {
    background-size: cover;
    background-position-y: 15%;
}

#medic-three h1 {
    top: 82%;
    left: 0px;
}
