
/* <!-- 第一、二个屏幕 --> */

.medicboard {
    position: absolute;
    width: 330px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    line-height: 33px;
    left: 100px;
    top: 14%;
    z-index: 2;
    background-color: transparent;
    border-radius: 20px;
}

.boardbg {
    background-color: rgb(77, 74, 74);
    opacity: 0.4;
}
.boardbgL{
    background-color: rgb(87, 95, 109);
    opacity: 0.4;
}

.medicboard h4 {
    margin: 0px 20px 20px 20px;
    color: #fff;
    font-size: 15px;
    font-family: tesila2;
    font-weight: 400;
}

.title{
    font-size: 30px;
    color: #fff;
    margin: 20px 20px 20px 20px;
}

.another{
    top: 25%;
    width: 330px;
    height: 280px;
}

.another h4{
    color: #111;
}

.serve{
    top: 9%;
    width: 600px;
    height: 550px;
    right: auto;
    left: auto;
}

.medic-center{
    width: 100%;
    display: flex;
    justify-content: center;
}
