/* 禁止复制，a标签就不会选中出现蓝色背景 */
html {
    -webkit-user-select: none;
    -moz-user-select: none;
    font-family: "webfont" !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    outline: none;
}

/* icon通用配置 */
.iconfont {
    color: #D3AF37;
    font-size: 59px !important;
}

/* Page */
.STUDY {
    /* position: absolute; */
    text-align: center;
    left: 0%;
    top: 0%;
    z-index: 0;
    width: 100%;
    height: auto;
}

/* 第一屏 */
.section-one {
    background-color: rgb(70, 156, 226);
    width: 100%;
    height: 100%;
}

.waveshape {
    position: absolute;
    width: 100%;
    height: 100%;
    flex-direction: column;
    display: flex;
}

.wavepoint img {
    width: 100%;
    height: 100%;
}

.wavepoint-green {
    width: 79px;
    height: 126px;
    display: flex;
    justify-content: flex-start;
}

.wavepoint-red {
    position: absolute;
    width: 63px;
    height: 176px;
    display: flex;
    justify-content: flex-end;
    right: 0;
    top: 21%;
}

.wavepoint-yellow {
    position: absolute;
    width: 81px;
    height: 139px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    bottom: 0;
}

.wavepoint-flow {
    position: absolute;
    width: 189px;
    height: 87px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    right: 0;
    bottom: 0;
}

.mapshape {
    position: absolute;
    text-align: center;
    left: 20%;
    top: 7%;
    z-index: 1;
    width: 60%;
    height: 90%;
    background-size: cover;
    overflow-x: hidden;
    overflow-y:hidden;
}

.mapshape img {
    overflow-x: hidden;
    overflow-y:hidden;
}

.maptext {
    position: absolute;
    text-align: center;
    left: 12%;
    top: 6%;
    z-index: 1;
    width: 70%;
    height: 90%;
}

.mapshape-text {
    position: absolute;
}

/* 四国 */
.maptext .map1 {
    left: 26%;
    top: 90%;
    display: none;
}

/* 关西 */
.maptext .map2 {
    left: 43%;
    top: 85%;
}

/* 关东 */
.maptext .map3 {
    left: 66%;
    top: 90%;
}

/* 东北 */
.maptext .map4 {
    left: 78%;
    top: 50%;
}

/* 北海道 */
.maptext .map5 {
    left: 60%;
    top: 0%;
}

/* 中国 */
.maptext .map6 {
    left: 23%;
    top: 40%;
    display: none;
}

/* 中部 */
.maptext .map7 {
    left: 46%;
    top: 40%;
}

/* 九州 */
.maptext .map8 {
    left: 2%;
    top: 84%;
}

.mapshape img {
    text-align: center;
    width: 100%;
    height: auto;
}

.subjectshape {
    position: absolute;
    z-index: 0;
    left: 0;
    width: 54%;
    height: 100px;
    top: 9%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.subjectshape h1 {
    margin: 0 0 10px;
    color: #fff;
    font-size: 32px;
    /* font-family: tesila3; */
    font-weight: 300;
}

.mapshape-text a {
    position: relative;
    display: inline-block;
    width: 140px;
    height: 36px;
    font-size: 19px;
    font-weight: 300;
    /* font-family: tesila3; */
    border-radius: 0px;
    line-height: 40px;
    box-sizing: border-box;
    margin: 8px;
    outline: none;
    overflow: hidden;
    border: 1px solid #fff;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


/* 第二屏 */
.section-two {
    width: 100%;
    height: 100%;
    background-size: cover;
}

.STUDY-background {
    background-color: rgba(255, 255, 255, 0);
    position: absolute;
    right: 0;
    width: 40%;
    height: 40%;
    top: 0;
}

.STUDY-background img {
    width: auto;
    height: 100%;
    float: right;
    justify-content: flex-end;
    align-items: flex-end;
    overflow-x: hidden;
}

.STUDY-two {
    background-color: rgba(255, 255, 255, 0);
    /* position: absolute; */
    display: flex;
    top: 5%;
    flex-direction: column;
    width: 100%;
    height: 95%;
}

.study-title {
    position: relative;
    left: 0;
    width: 100%;
    height: 80px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.study-title h1 {
    color: #000;
    font-size: 25px;
    /* font-family: tesila3; */
    font-weight: 400;
}

.study-content {
    width: 100%;
    height: 100%;
    margin-top: 0;
    padding-left: 0;
    position: relative;
    left: 0;
}

.study-grid {
    /* position: absolute; */
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    align-items: center;
    justify-content: center;
}

.studylist {
    margin-left: 6%;
    margin-right: 1%;
    margin-top: 0%;
    margin-bottom: 2.5%;
    height: 250px;
    width: 41%;
    float: left;
    position: relative;
    box-shadow: 4px 4px 10px #c1c1c1;
    background-color: rgba(255, 255, 255, 0.7);
}

.studylistRight {
    margin-left: 5%;
    margin-right: 6%;
}

.listIcon {
    margin-top: 3%;
}

.listTitle {
    position: relative;
    margin-top: 2%;
    padding-left: 5%;
    padding-right: 5%;
    color: #333;
    font-size: 16px;
    /* font-family: tesila3; */
    font-weight: 400;
}

.listContent {
    height: auto;
    padding-left: 2%;
    padding-right: 2%;
    color: #333333;
    font-size: 14px;
    /* font-family: tesila3; */
    font-weight: 300;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    /*display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;*/
}


/* 第三屏 */
.section-three {
    width: 100%;
    height: 100%;
    background-size: cover;
}

/* 第四屏 */
.section-three {
    width: 100%;
    height: 100%;
    background-size: cover;
}