/* 禁止复制，a标签就不会选中出现蓝色背景 */
html {
    -webkit-user-select: none;
    -moz-user-select: none;

}

a {
    outline: none;
}

h2 {
    font-size: 24px;
    font-family: arial, helvetica;
    color: #000;
    font-weight: bold;
    /* width: 60px; */
}

.section{
    position: relative;
    margin-top: 50px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.aboutUs {
    position: relative;
    right: 20%;
    left: 20%;
    top: 3%;
    padding-top: 10px;
    width: 60%;
    height: auto;
}

.aboutImg{
    background: url(../images/img/usbg.jpg) no-repeat center center;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    position: absolute;
    right: 20%;
    left: 20%;
    width: 60%;
    height: 400px;
    bottom: 0;
    z-index: -1;
}

h2 {
    border-bottom: 0.5px solid #eee;
    padding-bottom: 12px;
}

.detail {
    padding-left: 20px;
    line-height: 26px;
}

.detail p {
    color: #444;
}